.Header {
    min-height: 50vh;
    background-color:  rgb(161, 156, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-size: cover;
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, .5);
  }
  .Header h1 {
    margin:  0 ;
    
    padding-bottom: 30px;
    padding-right: 50px;

  }
  .Header h4 {
    margin:  0 ;
    
    padding-bottom: 100px;
    padding-right: 50px;
  }
   background-image {
    width: 100%;
  }