.NavItem a {
    display: block;
    padding: 1rem 1.5rem;
    color: rgb(153, 10, 163);  
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }
  .NavItem a.active {
    background-color: rgba(168, 44, 162, 0.692);
   color: rgb(251, 245, 252) ;
  }
  .NavItem a:hover {
    background-color: rgba(85, 6, 74, 0.384);
    color: rgb(238, 158, 234);
  }
  