.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(203, 203, 248);
  color: black;
}
.Nav ul {
  list-style: none;
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
}