.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(205, 205, 252);  
  color: rgb(12, 12, 245);  
}
.Nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav ul {
  list-style: none;
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
}